.build*
.DS_Store
static/css/
static/dist/
*.pyc
.idea/
venv/
media/
npm/
static/js/
node_modules
local_settings.py
*.js.map
*.map
**/migrations

static/js/test.js.map

static/js/frontpage.js.map

static/js/account.js.map
