{% extends "base.html" %}

{% block content %}
    <div class="slides">
        <div class="container">
         	<div class="columns overview">
			    <div class="one-fourth column">
			      	<div class="item" style="background-image: url(/static/images/temp.jpg)">lorem</div>
			    </div>
			  	<div class="one-fourth column">
			      	<div class="item" style="background-image: url(/static/images/temp.jpg)">lorem</div>
			    </div>
			    <div class="one-fourth column">
			      	<div class="item" style="background-image: url(/static/images/temp.jpg)">lorem</div>
			    </div>
			    <div class="one-fourth column">
			      	<div class="item" style="background-image: url(/static/images/temp.jpg)">lorem</div>
			    </div>
			      <div class="one-fourth column">
			      	<div class="item" style="background-image: url(/static/images/temp.jpg)">lorem</div>
			    </div>
			  	<div class="one-fourth column">
			      	<div class="item" style="background-image: url(/static/images/temp.jpg)">lorem</div>
			    </div>
			    <div class="one-fourth column">
			      	<div class="item" style="background-image: url(/static/images/temp.jpg)">lorem</div>
			    </div>
			    <div class="one-fourth column">
			      	<div class="item" style="background-image: url(/static/images/temp.jpg)">lorem</div>
			    </div>
		  	</div>
        	<div class="overview">
            	
        	</div>
        </div>
    </div>
{% endblock content %}
